@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    @apply m-[3.2rem_auto_1.6rem] w-[60px] aspect-square rounded-full border-[8px] border-solid border-primary-900;
    border-right-color: theme(
      "colors.primary.200"
    ); /* Bisa diubah ke @apply kalau error */
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    @apply m-0 w-[20px] aspect-square rounded-full border-[2px] border-solid border-primary-200;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Data Picker Styles */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: var(
    --tw-text-opacity,
    theme("colors.accent.500")
  ) !important;
  --rdp-background-color: var(
    --tw-bg-opacity,
    theme("colors.accent.600")
  ) !important;
  margin: 0 !important;
}
